<!-- Serve para reaproveitar partes do código-->
<%- include ('partials/header.ejs'); %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <div class="container">
                <hr>
                <h1>
                    <%= questionPage.title %>
                </h1>
                <br>
                <div>

                </div>
                <form method="post" action="/resposta">
                    <label>Resposta</label>
                    <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea>
                    <br>
                    <input type="hidden" name="questionPage" value="<%= questionPage.id %>">
                    <button type="submit" class="btn btn-primary">Enviar resposta</button>
                </form>
            </div>
    </body>
    <script>
        Swal.fire({
            title: 'Error!',
            text: 'Do you want to continue',
            icon: 'error',
            confirmButtonText: 'Cool'
        })
    </script>
    <%- include ('partials/footer.ejs') %>